.SkyStoreCharges > h4 {
	text-align: right;
}

.list {
	padding: 0;
}

.list > li {
	display: flex;
	padding: 0.5rem;
}

.list > li:nth-child(odd) {
	background: rgba(0,146,255,0.05);
}

.list > li > span {
	flex: 1;
}

.list > li > span:first-child {
	flex: 2;
}

.list > li > span:last-child {
	text-align: right;
}
